// Navigation code here
nav.row {
  .centering-flexbox;
  flex-direction: column;

}

h1 {
  text-align: center;
}


nav {
  .centering-flexbox;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 10px 10px;
}