// Navigation code here
nav.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  h1 {
    text-align: center;
  }



nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

a{
  text-decoration: none;
  font-size: 1.6rem;
}